.square {
    background: #fff;
    border: 2px solid #999;
    float: left;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    width: 100%;
    margin: 5px;
    padding: 0 0.5em 0 0.5em;
    border-radius: 3px;
}

.squareFocus {
    background: #a0b8ec;
}

.square:hover {
    background: #c1ceec;
}

.buttonText {
    font-size: 10px;
    margin: 0 0 0 0;
}
