.leaflet-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.mapContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.warfaceReferal {
    position: absolute;
    right: 3em;
    top: 1em;
    z-index: 10;
}

.warfaceReferalText {
    text-align: center;
    color: crimson;
    font: 1em Quantico, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 800;
    text-decoration: none;
    outline: 0;
}

.stationMarker:hover {
    background-color: #f00;
}