.chosenStationWindow {
  position: absolute;
  bottom: 1.5%;
  z-index: 10;
  left: 0.8%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: #999999 0.18em solid;
  width: 200px;
  font-family: monospace;
  overflow: hidden;
}

.plotRef {
  font-size: 1em;
  cursor: pointer;
  color: #00889f;
  text-decoration: none;
  outline: 0;
}

.plotRef:hover {
  cursor: pointer;
  color: #00487b;
  text-decoration: none;
  outline: 0;
}

.stationCharacteristics {
  padding: 0.3em 0 0 0.3em;
  display: flex;
  flex-direction: column;
  background-color: #dde7e7;
}

.stationCharacteristics > .stationChar {
  margin: 0.18em 0;
  display: flex;
  text-align: left;
}

.stationChar {
  font-family: sans-serif;
  font-size: 1em;
}

.stationInfoBlock {
  margin-top: 8px;
  border: solid #333333;
}

.stationInfo {
  margin: 0 0 0.1em 0;
}

.stationInfoHeader {
  width: 100%;
  font-weight: 800;
  background: #e8e8e8;
  border-bottom: #333333 0.1em solid;
  padding: 0.3em 0;
  font-family: monospace;
  color: #21849a;
  font-size: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  /*-webkit-text-stroke-width: 1.15px;*/
  /*-webkit-text-stroke-color: #000000;*/
}

.stationContent{
  margin: 0.3em;
  display: flex;
  flex-direction: column;
}

.stationName {
  color: #333;
  height: 40px;
  line-height: 40px;
  background-color: #e5e5e5;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 1.6em;
  font-weight: 600;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.x {
  float: right;
  cursor: pointer;
  align-self: center;
}

.russianFlag {
  margin: auto 0.5em auto 0.15em;
}

.leafletRussia {
  padding-right: 0.5em;
}

.questionMark {
  cursor: pointer;
  margin-left: 0.15em;
  align-self: center;
}

.network {
  font-size: 1.3em;
  margin-bottom: 0.3em;
  overflow: auto;
  color: #21849a;
}

.activityDescription {
  color: #333;
  font-size: 1em;
  font-weight: 1000;
  margin-bottom: 0.25em;
  font-family: monospace;
}